main {
  display: flex;
  margin: 10px
}

#users-avatar,
#user-name {
  display: flex;
  flex-direction: row;
  font-size: 15px;
  font-weight: lighter;
}

@media only screen and (max-width: 1000px) {
  #users-avatar {
    position: relative;
    font-size: 10px;
    align-items: center;
  }
}