<%- include('./partials/html-head') %>
  <%- include('./partials/nav') %>
    <main>
      <h1 id="emp-title">
        <%= title %>
      </h1>
      <div class="bg-img"></div>
      <img id="emp-image" src="/assets/peo-benefits.png" alt="emp-img">
    </main>
    <%- include('./partials/footer') %>