form {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 16px;
}

input,
select {
  width: 150px;
  font-family: 'Libre Baskerville', serif;
}

textarea {
  width: 200px;
  height: 50px;
  font-family: 'Libre Baskerville', serif;
}

#save-employee {
  display: grid;
  align-items: center;
  margin-top: 40px;
  margin-left: 20%;
  background-color: #009E6FFF;
  color: black;
  width: 200px;
  height: 50px;
  padding: auto;
  font-family: 'Libre Baskerville', serif;
  font-size: large;
}

#save-employee:hover {
  background-color: #424748;
  color: white;
}

@media only screen and (max-width: 1000px) {
  h1 {
    font-size: 18px;
  }

  form {
    font-size: 15px;
    grid-gap: 15px;
  }
}