section {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 16px;
  position: relative;
  align-items: center;
  margin-left: 70px;
}
button{
  font-family: 'Libre Baskerville', serif;
  height: 32px;
}

#buttons{
  display: flex;
  flex-direction: row;
  margin: 20px;
  gap: 60px;
}

#edit{
  background-color: #f59342;
}
#delete{
  background-color:#FF4930FF;
}
#edit:hover,#delete:hover,#add-review-btn:hover,#delete-review:hover{
  background-color:#424748 ;
  color: white;
}
#review-content{
  font-family: 'Croissant One', cursive;
}
#add-review-btn{
  background-color: #009E6FFF;
  
}
form{
  display: flex;
  column-gap: 20px;
}
table {
  border-collapse: collapse;
  margin:20px;

}

td,
th {
  border: 3px solid black;
  border-radius: 4px;
  padding: 0.5rem;
  text-align: center;
}

th {
  background-color: #063970;
  color:white;
  font-family: 'Mooli', sans-serif;
  font-weight: bolder;
}


td{
  background-color: white;
  font-family: 'Mooli', sans-serif;
}

#delete-review{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 25px;
background-color:#FF4930FF;
}
