html {
  box-sizing: border-box
}

body {
  background-color: #6BBBFC;
  margin: 0;
  color: black;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas:
    "nav"
    "main";
  font-family: 'Croissant One', cursive;
  font-size: 18px;
}

i {
  font-size: 50px;
}

#home {
  font-size: 28px;
}

body>main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #6BBBFC;
  color: black;
  padding: 20px;
}

body>main h1:first-child {
  margin-bottom: 50px;
}

body>nav {
  grid-area: nav;
  background-color: #B5DDFD;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
}

nav>i {
  width: 34px;
  object-fit: contain;
  margin-right: auto;
}

nav>a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  color: #000000;
  font-weight: bolder;
}

nav>a:visited {
  color: #424748;
}

nav>a:hover {
  color: white;
  background-color: #424748;
}

#home-page-avatar,
img {
  position: relative;
  width: 53px;
}
