body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* 
font-family: 'Croissant One', cursive;
font-family: 'Libre Baskerville', serif;
font-family: 'Merriweather', serif;
font-family: 'Mooli', sans-serif;
font-family: 'Xanh Mono', monospace; */